<section fxLayoutAlign="center">
  <div Align="center">
    <div class="heading">
      <h1>Get Started With Bitcoin</h1>

      <p>
        Start learning about Bitcoin with interactive tutorials. It’s fun, easy,
        and takes only a few minutes!
      </p>
    </div>

    <div class=" cards">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <ng-container *ngFor="let item of content">
          <div
            fxFlex.xl="33.333"
            fxFlex.lg="33.333"
            fxFlex.md="50"
            fxFlex.sm="100"
            fxFlex.xs="100"
          >
            <div class="card">
              <div class="card-body">
                <div class="icon-part">
                  <img
                    src="{{ item.icon }}"
                    alt="icon"
                    class="icon"
                    height="50px"
                  />
                </div>

                <div class="content">
                  <h3>{{ item.head }}</h3>
                  <p>{{ item.para }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
