section {
  font-family: "Futura", sans-serif;

}

.content h1 {
  color: #20509e;
  margin: 0;
  font-weight: 500;
  font-family: "Futura", sans-serif;
  font-size: 40px;
  line-height: 100px;
}

.content h5 {
  color: #20509e;
  margin: 0;
  font-weight: 300;
  font-size: 25px;


}

.content p {
  color: gray;
  font-weight: 400;
  font-size: 22px;
  line-height: 41px;


}

button {
  height: 56px;
  border: 1px solid;
  width: 230px;
  font-size: 20px;
  outline: none;
  color: #20509e;
  border-image: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
  border-image-slice: 1;
  border-width: 2px;
}

button:hover {
  color: white;
  background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
