section {
  /* background-color: whitesmoke; */
}

.card {
  height: auto;
  max-width: 350px;
  padding: 0;
  margin: 15px;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgba(200, 200, 200, 0.5);
}

.news-img {
  height: auto;
  max-width: 350px;
}

.card-body {
  padding: 20px;
  max-width: 350px;
}

.card-body h2 {
  color: #20509e;
  font-weight: 200;
  font-size: 20px;
}

.card-body h5 {
  font-size: 14px;
  font-family: "Futura", sans-serif;
  color: #16d0c5;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
