<section fxLayoutAlign="center">
  <div>
    <div class="heading" Align="center">
      <h1>Our Features</h1>
      <p>Bitcoin is the simplest way to exchange money at very low cost.</p>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div *ngFor="let item of content">
          <div fxLayout="row">
            <div class="icon-part">
              <p>Icon</p>
            </div>

            <div class="content-side">
              <h4>{{ item.head }}</h4>

              <p>{{ item.para }}</p>
            </div>
          </div>
          <p>Read more</p>
        </div>
      </div>
    </div>
  </div>
</section>
