<section fxLayoutAlign="center">
  <div>
    <div class="heading" Align="center">
      <h1>Our Features</h1>
      <p>Bitcoin is the simplest way to exchange money at very low cost.</p>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <ng-container *ngFor="let item of content">
          <div fxFlex.xl="33.333" fxFlex.lg="33.333" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" >
            <div fxLayout="row">
              <div class="icon-part">
                <p>Icon</p>
              </div>

              <div class="content-side">
                <h4>{{ item.head }}</h4>

                <p [innerHTML]="item.para"></p>
              </div>
            </div>
            <!-- <p>Read more</p> -->
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
