<section>
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div class="content">
        <h1>Subscribe to our Newsletter</h1>
        <p>
          Sign up for our weekly industry updates, insider perspectives and
          in-depth market analysis.
        </p>
      </div>
      <div class="user-input">
        <input type="text" placeholder="Enter your email" #email />
        <button mat-button (click)="onSubmit(email.value)">Get Started</button>
      </div>
    </div>
  </div>
</section>
