<main>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- logo -->
    <div fxFlex="25" Align="center">
      <h3 routerLink="/">Bitcoin</h3>
    </div>
    <!-- empty space -->
    <div fxFlex="15"></div>
    <!-- md screen -->
    <div fxFlex="70">
      <div fxLayoutAlign="space-evenly center">
        <a href="">HOME</a>
        <a href="">SHOPE</a>
        <a href="">ABOUT</a>
        <a href="">BLOG</a>
        <a href="">CONTACT</a>
      </div>
    </div>
  </div>
  <!-- small screen -->
  <!-- <div fxHide.gt-sm class="small-screen">
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <a href="">HOME</a>
        <a href="">SHOPE</a>
        <a href="">ABOUT</a>
        <a href="">BLOG</a>
        <a href="">CONTACT</a>
      </div>
    </div> -->
</main>
