mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 1px 1px 1px rgba(209, 204, 204, 0.5);
}

.logo {
  margin: 5px;
  margin-top: 10px;
}
mat-icon {
  outline: none;
}
.sign-up {
  border-radius: 30px;
  border: 1px solid #2dd3aa;
}

.sign-up:hover {
  color: white;
  border: none;

  background: linear-gradient(
    to right,
    #3e2bce 0%,
    #2dd3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
  transition: 0.8s ease;
}
