<mat-toolbar>
  <div class="app-name" style="cursor:pointer; width: 100px;">
    <header class="horizontal-nav scroll">
      <mat-icon style="height: 50px; width: 80px;" routerLink="/">
        <img src="../../../assets//img/logo.png" alt="" class="logo" />
      </mat-icon>
    </header>
  </div>

  <span class="mat-spacer"></span>

  <div fxHide.lt-md class="screen">
    <ng-container *ngFor="let menu of menus">
      <button mat-button routerLink="/{{ menu }}">{{ menu }}</button>
    </ng-container>

    <button mat-button routerLink="/auth" class="sign-up">Sign Up Free</button>
  </div>

  <div class="icons" fxHide.gt-sm>
    <mat-icon *ngIf="!show" (click)="toggle()">menu</mat-icon>
    <mat-icon *ngIf="show" (click)="toggle()">close</mat-icon>
  </div>
</mat-toolbar>

<!-- small screen -->
<div *ngIf="show">
  <div fxHide.gt-sm>
    <div class="small-screen">
      <br />
      <br />
      <br />
      <div fxLayout="column" fxLayoutAlign="start start">
        <ng-container *ngFor="let menu of menus">
          <button mat-button>
            <a routerLink="/{{ menu }}"> {{ menu }} </a>
          </button>
        </ng-container>

        <button mat-button routerLink="/auth" class="sign-up">
          Sign Up Free
        </button>
      </div>
    </div>
  </div>
</div>
