<mat-toolbar>
  <div class="app-name" style="cursor:pointer; width: 100px;">
    <header class="horizontal-nav scroll">
      <mat-icon style="height: 50px; width: 80px;" routerLink="/">
        <img src="../../../assets//img/logo.png" alt="" class="logo" />
      </mat-icon>
    </header>
  </div>

  <span class="mat-spacer"></span>

  <div fxHide.lt-md class="screen">
    <ng-container *ngFor="let menu of menus">
      <button mat-button routerLink="/{{ menu }}">{{ menu }}</button>
    </ng-container>

    <button mat-button routerLink="/auth" class="sign-up">Sign Up Free</button>
  </div>

  <div fxHide.gt-sm>
    <mat-icon *ngIf="!show" (click)="toggle()">menu</mat-icon>
    <div *ngIf="show" (click)="toggle()">
      <span> X </span>
    </div>
  </div>
</mat-toolbar>

<!-- small screen -->
<div *ngIf="show">
  <div fxHide.gt-md class="small-screen">
    <button mat-button>HOME</button>
    <button mat-button><a href="">Solution</a></button>
    <button mat-button><a href="">Features</a></button>
    <button mat-button><a href="">News</a></button>
    <button mat-button><a href="">About</a></button>
    <button mat-button><a href="">Contact</a></button>
    <button mat-button><a href="">Sign Up Free</a></button>
  </div>
</div>
