.section {
  background-color: #eee;
}

.bg-side-img {
  background-image: url(../../../assets/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 140vw 1400px;
  background-position: right;
  height: 100vh;
  width: 100%;
}

.assets {
  position: absolute;
  top: 200px;
  left: 100px;
}

input::-webkit-input-placeholder {
  padding: 10px;
}

.laptop {
  height: 400px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
