section {
  background-color: whitesmoke;
}
.team-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.card {
  height: auto;
  width: 350px;
  padding: 0;
  margin: 10px;
  box-shadow: 0px 5px 5px 5px rgba(200, 200, 200, 0.5);
  background-color: white;
}

.card-body {
  padding: 20px;
  max-width: 450px;
}

.card-body h3 {
  color: #20509e;
  font-weight: 200;
  font-size: 20px;
}

.card-body p {
  font-size: 14px;
  font-family: "Futura", sans-serif;
  color: gray;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
