.img-border {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-color: white;
}

.img-sliders {
  max-width: 500px;
  text-align: center;
  height: 300px;
}

.right-arrow {
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.left-arrow {
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
  transform: rotate(180deg);
}

.arrow-back {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-color: rgb(210, 224, 238);
  border-radius: 50%;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.content-slider {
  text-align: left;
  height: 200px;
}

.arrows {
  height: 100px;

}
