/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 0;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  

  .heading {
    padding-bottom: 60px;
  }
  .heading h1 {
    color: #20509e;
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    font-family: "Futura", sans-serif;
  }
  
  .heading p {
    color: gray;
  }
  

  a {
      text-decoration: none;
      color: black;
  }