html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  scroll-behavior: smooth;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading {
  padding-bottom: 60px;
}

.heading h1 {
  color: #20509e;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  font-family: "Futura", sans-serif;
}

.heading p {
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

.mat-toolbar {
  height: 52px !important;
}

.mat-spacer {
  flex: 1 1 auto;
}

.mat-card-title {
  margin-bottom: 0px !important;
}

